* {
  margin: 0;
  padding: 0;
}
body {
  background: #0e6199;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 0.65rem;
}

h1 {
  color: #c3c3c3;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing:0.2rem;
}

span {
  color: #c3c3c3;
  font-weight: 400;
  font-size: 0.85rem;
}
